*.pyc
*.pyo
/bkconfig.*
/mozilla/build/
/mozilla/config.py
/mozilla/patches-new/komodo_app/build/Makefile.in
/mozilla/prebuilt/python2.6/*/
/mozilla/prebuilt/python2.7/*/
/build/
/export/
/src/scintilla/
.consign
/test/pyxpcom/koITest.xpt
*.landmark
qbtable.pik
.DS_Store
nohup.out
/*.komodoproject
/.komodotools/
./install/
packages/
/test
/src/codeintel/test2
/src/dbgp
/src/releasetime*
/vc110.pdb
/src/xdebug2/build
/src/xdebug2/tmp
src/modules/codeintel/tools
