/*

    Name:       Base16 Ocean Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-ocean-light.CodeMirror {background: #eff1f5; color: #343d46;}
.cm-s-base16-ocean-light div.CodeMirror-selected {background: #dfe1e8 !important;}
.cm-s-base16-ocean-light .CodeMirror-gutters {background: #eff1f5; border-right: 0px;}
.cm-s-base16-ocean-light .CodeMirror-linenumber {color: #a7adba;}
.cm-s-base16-ocean-light .CodeMirror-cursor {border-left: 1px solid #65737e !important;}

.cm-s-base16-ocean-dark span.cm-header {color: #65737e;}
.cm-s-base16-ocean-light span.cm-comment {color: #65737e;}
.cm-s-base16-ocean-light span.cm-atom {color: #b48ead;}
.cm-s-base16-ocean-light span.cm-number {color: #d08770;}

.cm-s-base16-ocean-light span.cm-property {color: #343d46;}
.cm-s-base16-ocean-light span.cm-attribute {color: #d08770;}
.cm-s-base16-ocean-light span.cm-keyword {color: #b48ead;}
.cm-s-base16-ocean-light span.cm-string {color: #a3be8c;}

.cm-s-base16-ocean-light span.cm-variable {color: #bf616a;}
.cm-s-base16-ocean-light span.cm-variable-2 {color: #8fa1b3;}
.cm-s-base16-ocean-light span.cm-def {color: #8fa1b3;}
.cm-s-base16-ocean-light span.cm-error {background: #bf616a; color: #65737e;}
.cm-s-base16-ocean-light span.cm-bracket {color: #343d46;}
.cm-s-base16-ocean-light span.cm-tag {color: #bf616a;}
.cm-s-base16-ocean-light span.cm-link {color: #b48ead;}
.cm-s-base16-ocean-light span.cm-builtin {color: #b48ead;}

.cm-s-base16-ocean-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

.cm-s-base16-ocean-dark .CodeMirror-activeline-background { background: #dfe1e8 !important; }



body,
textarea {
  background: #eff1f5;
  color: #4f5b66;
}

#sidebar, .modal {
  background: #c0c5ce;
  color: #343d46;
}

a, a:hover {
    color: #ab7967;
}

a.option {
    color: #ab7967 !important;
}

#logos {
  background: #a7adba;
  color: #4f5b66;
}

#buttons {
  background: #c0c5ce;
  color: #65737e;
}

#buttons .function.enabled:hover {
  color: #343d46;
}

#buttonTips {
  background: #ab7967;
  color: #eff1f5;
}

#pointer:after {
    border-bottom-color: #ab7967 !important;
}

#linenos {
  background: #dfe1e8;
  border-color: #c0c5ce !important;
}

#linenos a {
    color: #65737e !important;
}

.option {
    background: #a7adba !important;
    color: #4f5b66 !important;
}

.option:hover {
    background: #969ca7 !important;
}

.dropdown:after {
    border-top-color: #65737e !important;
}

#logo-kopy {
    background: url(../../img/pastebin-logo-dark.png) no-repeat !important;
}

#logo-komodo {
    background: url(../../img/komodo-logo-dark.png) no-repeat !important;
}

#messages li {
  background: #8fa1b3;
  color: #eff1f5;
}

#messages li.error {
  background: #bf616a;
  color: #eff1f5;
}
