/*

    Name:       Base16 Ocean Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-ocean-dark.CodeMirror {background: #2b303b; color: #dfe1e8;}
.cm-s-base16-ocean-dark div.CodeMirror-selected {background: #343d46 !important;}
.cm-s-base16-ocean-dark .CodeMirror-gutters {background: #2b303b; border-right: 0px;}
.cm-s-base16-ocean-dark .CodeMirror-linenumber {color: #65737e;}
.cm-s-base16-ocean-dark .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-base16-ocean-dark span.cm-header {color: #65737e;}
.cm-s-base16-ocean-dark span.cm-comment {color: #65737e;}
.cm-s-base16-ocean-dark span.cm-atom {color: #b48ead;}
.cm-s-base16-ocean-dark span.cm-number {color: #d08770;}

.cm-s-base16-ocean-dark span.cm-property {color: #dfe1e8;}
.cm-s-base16-ocean-dark span.cm-attribute {color: #d08770;}
.cm-s-base16-ocean-dark span.cm-keyword {color: #b48ead;}
.cm-s-base16-ocean-dark span.cm-string {color: #a3be8c;}

.cm-s-base16-ocean-dark span.cm-variable {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-variable-2 {color: #8fa1b3;}
.cm-s-base16-ocean-dark span.cm-def {color: #8fa1b3;}
.cm-s-base16-ocean-dark span.cm-error {background: #bf616a; color: #a7adba;}
.cm-s-base16-ocean-dark span.cm-bracket {color: #343d46;}
.cm-s-base16-ocean-dark span.cm-tag {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-link {color: #b48ead;}
.cm-s-base16-ocean-dark span.cm-builtin {color: #b48ead;}

.cm-s-base16-ocean-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

.cm-s-base16-ocean-dark .CodeMirror-activeline-background { background: #343d46 !important; }



body,
textarea {
  background: #2b303b;
  color: #c0c5ce;
}

#sidebar, .modal {
  background: #343d46;
  color: #dfe1e8;
}

a, a:hover {
    color: #ab7967;
}

a.option {
    color: #ab7967 !important;
}

#logos {
  background: #22262f;
  color: #c0c5ce;
}

#buttons {
  background: #343d46;
  color: #a7adba;
}

#buttons .function.enabled:hover {
  color: #dfe1e8;
}

#buttonTips {
  background: #ab7967;
  color: #eff1f5;
}

#pointer:after {
    border-bottom-color: #ab7967 !important;
}

#linenos {
  background: #343d46;
  border-color: #4f5b66 !important;
}

#linenos a {
    color: #a7adba !important;
}

.option {
    background: #2b303b !important;
    color: #a7adba !important;
}

.option:hover {
    background: #22262f !important;
}

.dropdown:after {
    border-top-color: #65737e !important;
}

#messages li {
  background: #8fa1b3;
  color: #eff1f5;
}

#messages li.error {
  background: #bf616a;
  color: #eff1f5;
}
