/*

    Name:       Base16 Google Light
    Author:     Seth Wright (http://sethawright.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-google-light.CodeMirror {background: #ffffff; color: #282a2e;}
.cm-s-base16-google-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-google-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-google-light .CodeMirror-linenumber {color: #b4b7b4;}
.cm-s-base16-google-light .CodeMirror-cursor {border-left: 1px solid #969896 !important;}

.cm-s-base16-google-dark span.cm-header {color: #969896;}
.cm-s-base16-google-light span.cm-comment {color: #969896;}
.cm-s-base16-google-light span.cm-atom {color: #A36AC7;}
.cm-s-base16-google-light span.cm-number {color: #F96A38;}

.cm-s-base16-google-light span.cm-property {color: #282a2e;}
.cm-s-base16-google-light span.cm-attribute {color: #F96A38;}
.cm-s-base16-google-light span.cm-keyword {color: #A36AC7;}
.cm-s-base16-google-light span.cm-string {color: #198844;}

.cm-s-base16-google-light span.cm-variable {color: #CC342B;}
.cm-s-base16-google-light span.cm-variable-2 {color: #3971ED;}
.cm-s-base16-google-light span.cm-def {color: #3971ED;}
.cm-s-base16-google-light span.cm-error {background: #CC342B; color: #969896;}
.cm-s-base16-google-light span.cm-bracket {color: #282a2e;}
.cm-s-base16-google-light span.cm-tag {color: #CC342B;}
.cm-s-base16-google-light span.cm-link {color: #A36AC7;}
.cm-s-base16-google-light span.cm-builtin {color: #A36AC7;}

.cm-s-base16-google-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

.cm-s-base16-google-dark .CodeMirror-activeline-background { background: #e0e0e0 !important; }



body,
textarea {
  background: #ffffff;
  color: #373b41;
}

#sidebar, .modal {
  background: #c5c8c6;
  color: #282a2e;
}

a, a:hover {
    color: #3971ED;
}

a.option {
    color: #3971ED !important;
}

#logos {
  background: #b4b7b4;
  color: #373b41;
}

#buttons {
  background: #c5c8c6;
  color: #969896;
}

#buttons .function.enabled:hover {
  color: #282a2e;
}

#buttonTips {
  background: #3971ED;
  color: #ffffff;
}

#pointer:after {
    border-bottom-color: #3971ED !important;
}

#linenos {
  background: #e0e0e0;
  border-color: #c5c8c6 !important;
}

#linenos a {
    color: #969896 !important;
}

.option {
    background: #b4b7b4 !important;
    color: #373b41 !important;
}

.option:hover {
    background: #a2a5a2 !important;
}

.dropdown:after {
    border-top-color: #969896 !important;
}

#logo-kopy {
    background: url(../../img/pastebin-logo-dark.png) no-repeat !important;
}

#logo-komodo {
    background: url(../../img/komodo-logo-dark.png) no-repeat !important;
}

#messages li {
  background: #3971ED;
  color: #ffffff;
}

#messages li.error {
  background: #CC342B;
  color: #ffffff;
}
