.document-resources article,
.document-resource-category article,
.document-resource article
{
    .try-buy-buttons
    {
        @include media(min-width 960px)
        {
            position: absolute;
            right: 0;
            top: 17px;
        }
        
        @include media(max-width 960px)
        {
            margin-bottom: 25px;
            text-align: center;
        }
    }
    
}

.document-resource aside
{
    .details-meta
    {
        .preview
        {
            margin: 0 5px 0 0;
            img
            {
                width: 18px;
                height: 18px;
            }
        }

        dl
        {
            margin: 0;
            
            dt, dd
            {
                float: left;
                padding: 0;
                line-height: 32px;
            }

            dd + dt,
            dd + dd
            {
                clear: left;
            }

            dd + dd
            {
                float: none;
            }

            dt
            {
                width: 16px;
            }

            dd
            {
                width: calc(100% - 26px);
                margin-left: 10px;
                @extend %ellipsis;
            }
        }
    }
    
    .download
    {
        .button
        {
            width: 100%;
            margin: 5px 0;
            @extend %ellipsis;
        }
    }
}

.document-resource article
{

    img
    {
        max-width: 100%;
    }

    h1
    {
        margin-top: 0;
    }
    
    .social-meta
    {
        & > a
        {
            display: inline-block;

            span
            {
                font-family: $font-mono;
                display: inline-block;
                background: rgba(0,0,0,0.5);
                padding: 4px;
                border-radius: 12px;
                font-weight: bold;
            }
        }
    }

    .readme,
    .comments
    {
        background: rgba(255,255,255,0.9);
        padding: 10px;
        border-radius: 3px;

        &.readme pre
        {
            line-height: 1.5;
        }

        &.readme code
        {
            line-height: 1.5;
            white-space: pre-wrap;
            display: inline-block;
            padding: 2px;
        }
    }
    
    #scheme-preview 
    {
        position: relative;
        
        pre
        {
            font-family: monospace;
            padding: 10px;
            margin: 0;
            position: relative;
            
            code
            {
                max-height: none;
                border: 1px solid rgba(0,0,0,0.2);
                transition: border 0.2s ease-in-out;
            }
        }
        
        &:hover
        {
            #scheme-preview-selector
            {
                opacity: 1.0;
            }
            
            pre code
            {
                border: 1px solid rgba(0,0,0,0.8);
            }
        }
        
        #scheme-preview-selector
        {
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            
            position: absolute;
            top: 10px;
            left: 10px;
            
            width: calc(100% - 20px);
            background: rgba(0,0,0,0.8);
            margin: 0;
            padding: 5px;
            text-align: center;
            
            li
            {
                margin: 0 6px;
                padding: 0;
                display: inline-block;
                font-size: 24px;
            }
            
            li.ui-state-active
            {
                font-weight: bold;
            }
        }
    }
}

.document-resources article,
.document-resource-category article,
.document-resource article
{
    margin-top: 35px;
    
    ul.trail
    {
        position: absolute;
        width: 100%;
        top: 15px;
        left: 0;
    }
}

.document-resources article,
.document-resource-category article
{
    & > ul:not(.trail)
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    & > ul:not(.trail) > li
    {
        display: inline-block;
        text-align: left;
        width: 40%;
        margin: 25px;
        background: #F9F9F9;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
        vertical-align: top;
        
        @include media(max-width 750px)
        {
            display: block;
            width: auto;
        }
        
        .preview
        {
            margin: 10px;
            
            figure
            {
                padding: 3px;
            }
            
            img, figure
            {
                width: 63px;
                height: 63px;
                
                & > div
                {
                    float: left;
                    width: 11px;
                    height: 11px;
                    margin: 4px;
                }
            }
        }
        
        .info, .meta
        {
            padding: 10px;
        }
        
        .info
        {
            h3
            {
                font-size: 24px;
                margin-top: 0;
                margin-bottom: 10px;
            }
            
            p
            {
                margin: 0 0 10px 0;
            }
            
            .author
            {
                font-style: italic;
                
                img
                {
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                }
            }
        }

        
        .meta
        {
            font-size: 14px;
            opacity: 0.8;
            min-width: 150px;
            border-top: 1px solid #E0E0E0;
            background: #EFF2F7;

            & > span
            {
                display: inline-block;
                margin-left: 15px;

                .icon
                {
                    opacity: 0.7;
                }
            }
        }

    }
}

.document-install-instructions article,
.document-submit-instructions article
{
    text-align: center;

    .selector
    {
        .selectize-control
        {
            max-width: 500px;
            margin: 25px auto;
            font-size: 14pt;
        }
    }

    .panes,
    .selector
    {
        margin: auto;
    }

    .panes
    {
        max-width: 750px;
        text-align: left;
    }
    
    ol.decimal
    {
        li
        {
            margin: 16px 0;
            font-size: 16px;
        }
    }
}

.sidebar-resources
{
    margin-top: 50px;
    
    ul.categories
    {
        margin: 0;
        padding: 0;

        li h3
        {
            font-size: 13pt;
            margin: 5px 0;
        }
    }

    ul:not(.categories)
    {
        padding-left: 30px;
    }
    
    .search-wrapper
    {
        position: relative;
        
        input
        {
            width: 180px;
            padding: 4px;
        }
        
        ul.results
        {
            display: none;
            position: absolute;
            border: 1px solid #E2E2E2;
            background: #EDEDED;
            width: 350px;
            right: -12px;
            
            &, li, h3, p
            {
                padding: 0;
                margin: 0;
            }
            
            li
            {
                padding: 4px;
                
                &:hover
                {
                    background: lighten($color-base-link-hover, 60%);
                    cursor: pointer;
                }
                
                h3
                {
                    font-size: 0.9rem;
                    font-weight: bold;
                }
                
                p
                {
                    @extend %ellipsis;
                    font-size: 0.7rem;
                    font-style: italic;
                }
            }
        }
    }
}
