/**
 * Checkbox images for when a commit item is selected.
 */
treechildren::-moz-tree-cell-text(link) {
    color: -moz-hyperlinktext;
    text-decoration: underline;
}

treechildren::-moz-tree-cell-text(visitedlink) {
    color: -moz-visitedhyperlinktext;
    text-decoration: underline;
}

#scc_history_message {
    font-weight: bold;
}

button, textbox, richlistbox {
    margin: 2px 0 !important;
}

description {
    line-height: 1rem;
}

button
{
    margin-left: 2px !important;
    padding: 4px !important;
}